<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.himel.aeropedia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aeropedia"
        tools:replace="android:allowBackup">

        <activity
            android:name=".boeing.BoeingGlobemaster"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.OnBoardScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gulfstream.GulfstreamIV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gulfstream.G280"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Gulfstream"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gulfstream.G650"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cessna.Skylane"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cessna.Caravan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cessna.CitationLatitude"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Cessna"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cessna.CitationLongitude"
            android:screenOrientation="portrait" />
        <activity
            android:name=".embraer.Phenom300"
            android:screenOrientation="portrait" />
        <activity
            android:name=".embraer.Lineage1000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".embraer.EJetE2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".embraer.ERJFamily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Embraer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bombardier.CRJ100200"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bombardier.Global7500"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bombardier.Challenger650"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Bombardier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bombardier.Learjet75"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boeing.Boeing787"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boeing.Boeing777"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boeing.Boeing767"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boeing.Boeing747"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boeing.Boeing757"
            android:screenOrientation="portrait" />
        <activity
            android:name=".boeing.Boeing737"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Boeing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".antonov.AntonovAn225Mriya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".antonov.AntonovAn22Antei"
            android:screenOrientation="portrait" />
        <activity
            android:name=".antonov.AntonovAn72Cheburashka"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Antonov"
            android:screenOrientation="portrait" />
        <activity
            android:name=".antonov.AntonovAn124Ruslan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusBeluga"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA220"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA300"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA310"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA318"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA319"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA320"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA320neoFamily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA321"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA330neo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA330"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA340"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA380"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebase.Firebase"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".flightmap.FlightMap"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".flightstatus.FlightStatus"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".alexa.AlexaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.ManufacturerMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".airbus.AirbusA350"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manufacturers.Airbus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".alexa.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.amazon.com"
                    android:pathPattern="/ap/oa"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- android:host must use the full package name found in Manifest General Attributes -->
                <data
                    android:host="${applicationId}"
                    android:scheme="amzn" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification" />
    </application>

</manifest>
